 body{
    background-color: blueviolet;
    
 }
 .A{
    border: 1px solid black;
    width: 150px;
    height: 100px;
    text-align: center;
    background-color: brown;
    width: 300px;
    margin: 250px;
    margin-left: 300px;

    
    

    
    
    
   
 }